<div class="footer">
  <div class="w">
      <div class="links">
        <a href="https://blog.csdn.net" target="_bank" class="links">csdn博客</a>  |
        <a href="https://www.baidu.com" target="_bank" class="links">百度搜索</a>  |
        <a href="https://www.taobao.com" target="_bank" class="links">淘宝网</a>  |
        <a href="https://www.zhihu.com" target="_bank" class="links">知乎网</a>
      </div>
      <p class="copyright">
         Copyright © 2018 www.cyq.com All Right Reserved
      </p>
  </div>
</div>
<script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>